extends layout2

block content
  link(rel="stylesheet", href="./stylesheets/locations.css")

  body
    h1 Booking Details

    if bookings
      ul#main
        each booking in bookings
          li
            .left
              div
                p.name #{booking.location.name}
                p.address #{booking.location.address}
                p.date #{booking.start_time}
            
            
            .right
              div
                img(src="/images/bookmark.png", alt="save icon")
                p.dots ...
                  a(href=`/bookings/${booking.booking_id}/delete`) Delete
                  a(href=`/bookings/${booking.booking_id}/update`) Update
    else
      p No bookings